<mat-nav-list>
 
  <mat-list-item 
    class="custom-list-item" 
    routerLink="/test-claims" 
    routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Test Claims</mat-list-item>
  <mat-list-item 
    class="custom-list-item" 
    routerLink="/analytics" 
    routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Analytics</mat-list-item>
  <mat-list-item 
    class="custom-list-item" 
    routerLink="/settings" 
    routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Settings</mat-list-item>

    <mat-list-item 
    class="custom-list-item" 
    routerLink="/" 
    routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Dashboard</mat-list-item>

    <mat-list-item 
    class="custom-list-item" 
    routerLink="/about-us" 
    routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">About Us</mat-list-item>
</mat-nav-list>
