.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .upload-button {
    margin-left: auto;
  }

  .center-align {
    text-align: center;
    width: 100%;
  }

  .bold-header {
    font-weight: bold;
    font-size: 1.2em;
    
  }