/* Container for the settings page */

  
  /* Styling for form fields */
  .settings-field {
    width: 100%;
    margin-bottom: 20px;
  }
  
  /* Spinner container */
  .spinner-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  /* Success message styling */
  .success-message {
    margin-top: 20px;
    color: green;
    font-size: 16px;
    text-align: center;
  }


  


  .prediction-option {
    display: flex;
    flex-direction: column;
  }
  
  .prediction-label {
    font-weight: bold;
    margin-bottom: 10px; /* Adds space between label and radio buttons */
  }
  
  .radio-group-horizontal {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Adds space between radio buttons */
    align-items: center; /* Aligns radio buttons vertically */
  }
  